::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
}

::-webkit-scrollbar-track {
  background: $gray-700;
}

html,
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

#app {
  height: 100svh;
}

.my-logo {
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
}

.app-admin {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
