#app-main {
  padding: 5rem 3rem;
  overflow-y: auto;
  flex-grow: 1;
  
  .my-table {
    margin-bottom: 2rem;
    
    td, th {
      padding: 1rem;
      vertical-align: middle;
    }

    th {
      font-size: .875rem;
    }

    .my-table-image {
      width: 80px;

      .my-table-image-wrap {
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .my-table-featured {
      text-align: center;
    }

    .my-table-actions {
      text-align: center;
    }
  }
}

.app-guest #app-main {
  .my-logo {
    text-align: center;
    font-size: 1.5rem;
  }
} 